/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: inline-block;
	padding: var(--Medium) var(--Large);
	margin: 0 var(--Medium) 0 0;
	border: none;
	border-radius: 30px;
	font-family: 'Quicksand';
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	color: var(--White);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--Red);
	transition: all 0.35s linear;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--RedDark);
		color: var(--White);
	}

	&.is-red {
		background-color: var(--Red);

		&:hover,
		&:focus {
			background-color: var(--RedDark);
		}
	}

	&.is-blue {
		background-color: var(--Blue);

		&:hover,
		&:focus {
			background-color: var(--BlueDark);
		}
	}

	&.is-gray {
		background-color: rgba(0, 0, 0, 0.5);

		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, 0.9);
		}
	}

	&.is-white {
		background-color: var(--White);
		color: var(--Red);

		&:hover,
		&:focus {
			background-color: #E1E0E0;
			color: var(--RedDark);
		}
	}
}