/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  LISTS
\*---------------------------------------*/
form {
	max-width: 650px;
	margin: 0 auto;

	& ul.gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;

		&>li {
			margin: 1em 0;
			background: none;
			padding-left: 0;
			font-family: 'Open Sans';

			&.large-label {
				& .gfield_label {
					font-size: 36px;
					line-height: 1.39;
					padding-left: 0;
					font-family: 'Quicksand';
					color: var(--Blue);
				}

				& .ginput_container_checkbox {
					margin-top: 2em;
				}
			}

			&.gfield_html {
				& h2 {
					color: var(--Blue);
				}
			}
		}
	}
}

#input_19_47 {
	column-count: 1;
}

/*---------------------------------------*\
  LABELS
\*---------------------------------------*/
form label {
	margin-bottom: var(--xSmall);
	font-size: 0.875em;
	padding-left: 2em;

	& span.gfield_required {
		display: none;
	}
}

ul.gform_fields>li:not(.gfield_contains_required)>label {
	&::after {
		content: '(optional)';
		display: inline-block;
		margin-left: .35em;
		font-size: .875em;
	}
}

.gfield_description,
.ginput_counter,
.screen-reader-text {
	font-size: .875em;
}

/*---------------------------------------*\
  INPUTS
\*---------------------------------------*/
input {
	padding: 1em 1.5em;
	width: 100%;
	box-shadow: none;
	border: 1px solid var(--Blue);
	border-radius: 25px;
	margin-top: .2em;
	font-size: 16px;
	font-weight: 700;
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1em;

	&::placeholder {
		font-weight: 400;
	}

	&:focus {
		outline: none;
		border: 2px solid var(--Blue);
	}

	&.is-activated,
	&.LV_valid_field {
		border: 2px solid var(--Blue);
		background-image: url(../images/input_valid.svg);
	}

	&.LV_invalid_field {
		border: 2px solid var(--Red);
		background-image: url(../images/input_error.svg);
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	padding: 1em 1.5em;
	width: 100%;
	box-shadow: none;
	border: 1px solid var(--Blue);
	border-radius: 25px;
	margin-top: .2em;
	font-size: 16px;
	font-weight: 700;
	background-position: top 1em right 1em;
	background-repeat: no-repeat;
	background-size: 1em;

	&::placeholder {
		font-weight: 400;
	}

	&:focus {
		outline: none;
		border: 2px solid var(--Blue);
	}

	&.is-activated,
	&.LV_valid_field {
		border: 2px solid var(--Blue);
		background-image: url(../images/input_valid.svg);
	}

	&.LV_invalid_field {
		border: 2px solid var(--Red);
		background-image: url(../images/input_error.svg);
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	padding: 1em 1.5em;
	width: 100%;
	box-shadow: none;
	border: 1px solid var(--Blue);
	border-radius: 25px;
	margin-top: .2em;
	font-size: 16px;
	font-weight: 700;
	appearance: none;
	background-color: var(--White);
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right 1em;
	background-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);

	&.LV_valid_field {
    font-weight: 700;
		color: var(--Black);
	}
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	margin: 0;
	padding: .5em 0;

	& li {
		display: block;
		margin: 0 1em 1em 0;
		background-image: none;

		& label {
			margin-left: 1em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="radio"] {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: transparent;
			border: 1px solid #9B9B9B;
			position: relative;

			&:checked {
				background-color: transparent;

				&:after {
					content: '';
					position: absolute;
					background-image: none;
					background-color: var(--Blue);
					width: 14px;
					height: 14px;
					border-radius: 25px;
					top: 4px;
					left: 4px;
				}
			}
		}
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	margin: 0;
	padding: .5em 0;
	column-count: 2;

	& li {
		display: block;
		margin: 0 1em 1em 0;
		background-image: none;

		& label {
			margin-left: 1em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="checkbox"] {
			width: 24px;
			height: 24px;
			border-radius: 5px;
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: transparent;
			position: relative;

			&:checked {
				background-color: var(--Blue);
				border-color: var(--Blue);

				&:after {
					content: '';
					position: absolute;
					background-image: url('../images/checkmark.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 16px;
					width: 16px;
					height: 16px;
					top: 3px;
					left: 3px;
				}
			}
		}
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/
input[type="file"] {
	padding: .5em 0;
	border: none;
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
	margin-top: .35em;

	& label {
		margin-left: 1em;
		padding-left: 0;
		position: relative;
		top: -2px;
		font-weight: normal;
		font-size: 16px;
	}

	& input[type="checkbox"] {
		width: 24px;
		height: 24px;
		border-radius: 5px;
		margin: 0 .25em -6px .5em;
		vertical-align: baseline;
		appearance: none;
		background-color: transparent;
		position: relative;

		&:checked {
			background-color: var(--Blue);
			border-color: var(--Blue);

			&:after {
				content: '';
				position: absolute;
				background-image: url('../images/checkmark.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 16px;
				width: 16px;
				height: 16px;
				top: 3px;
				left: 3px;
			}
		}
	}
}

/*---------------------------------------*\
  INVALID
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: var(--Red);
	}

	& input {
		border: 2px solid var(--Red);
		color: var(--Red);
	}

	& .validation_message {
		color: var(--Red);
		padding-left: 2em;
	}
}