/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul, ol {
  margin: 2em auto;
	padding-left: 4em;
	list-style: none;

  & li {
    margin: var(--Small) 0;
		position: relative;
		line-height: 1.8;
		font-size: 14px;
  }
}

ul {
	padding-left: 2em;

	& li {
		padding-left: 2em;
		background-position: 0 8px;
		background-size: 10px;
		background-repeat: no-repeat;
		background-image: url('../images/bullet.svg');
	}
}

ol {
	counter-reset: number-counter;

	& li {
		counter-increment: number-counter;

		&:before {
			position: absolute;
			top: -4px;
			left: -2em;
			color: var(--Red);
			content: counter(number-counter);
			font-size: 18px;
			font-weight: bold;
			font-family: 'Quicksand';
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-3-columns {
  column-count: 1;

  @media(--phone) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 3;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-4-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }

  @media(--tablet) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 4;
  }
}
