/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/quicksand-v10-latin-regular.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v10-latin-700.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open-sans-v16-latin-regular.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open-sans-v16-latin-italic.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open-sans-v16-latin-700.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open-sans-v16-latin-700italic.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-family: 'Quicksand';
}

h1 {
	font-size: 56px;
	font-weight: 400;
	line-height: 1.25;
}

h2 {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.39;
	letter-spacing: 2px;
}

h3 {
	font-size: 28px;
	font-weight: 400;
	color: var(--Red);
	line-height: 1.5;
}

h4 {
	font-size: 20px;
	font-weight: 400;
	color: var(--Blue);
	line-height: 1.5;
}

h5 {
	font-size: 20px;
	line-height: 1.4;
}

h6 {
	font-size: 18px;
	line-height: 1.4;
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	max-width: 900px;
	height: 2px;
	box-sizing: border-box;
	border: none;
	background-color: #cccccc;
	color: #cccccc;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 10px);
		left: calc(50% - 40px);
		width: 80px;
		height: 20px;
		background-color: var(--White);
		background-image: url('../images/s-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.7;

	& a {
		color: var(--Maroon);

		&:focus,
		&:hover {
				color: var(--Red);
		}
	}
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 820px;
	padding: var(--Medium);
	color: var(--Blue);
	font-size: 26px;
	text-align: center;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
		font-family: 'Quicksand';
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}