/*-----------------------------------*\
	DISPLAY RELATED POSTS VIA ACF RELATIONSHIP
\*-----------------------------------*/
aside.acf-related-posts {
	display: flex;
	justify-content: center;
	margin: var(--xLarge) auto;

	& article {
		width: 30%;
		padding: var(--Medium);
		text-align: center;
	}
}