/*-----------------------------------*\
	FEATURED LEAGUE
\*-----------------------------------*/
section.featured-league {
	margin: var(--xLarge) auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	&>div {
		width: 100%;
		order: 2;
		padding-right: 0;

		@media(--tablet) {
			width: 55%;
			order: 1;
			padding-right: 2em;
		}

		& h2 {
			color: var(--Red);
		}
	}

	&>img,
	&>iframe {
		width: 100%;
		order: 1;

		@media(--tablet) {
			width: 45%;
			order: 2;
		}
	}
}