/*-----------------------------------*\
	HOME HEADER
\*-----------------------------------*/
body.home,
body.post-type-archive-league {
	& header.post-head {
		min-height: 600px;
		overflow: hidden;

		&:after {
			display: none;
		}

		& video {
			min-width: 100%;
			min-height: 100%;
			width: 290%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@media(--tablet) {
				width: 150%;
			}
		}

		& .overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(119,22,70,0.5);
			z-index: 2
		}

		& h1 {
			z-index: 3;
		}
	}

	& section.three-boxes {
		display: flex;
		flex-wrap: wrap;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: -320px;
			left: 0;
			width: 100%;
			height: 320px;
			background-image: url('../images/article_bg.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.2;
		}

		&>div {
			width: 100%;
			text-align: center;
			padding: 4em 2em 10em;
			position: relative;

			@media(--laptop) {
				width: 33.33%;
			}

			&:nth-of-type(1) {
				background-color: var(--Maroon);

				& .button {
					background-color: rgba(0, 0, 0, 0.4);

					&:hover,
					&:focus {
						background-color: var(--Black);
					}
				}
			}

			&:nth-of-type(2) {
				background-color: var(--Red);

				& .button {
					background-color: rgba(0, 0, 0, 0.4);

					&:hover,
					&:focus {
						background-color: var(--Black);
					}
				}
			}

			&:nth-of-type(3) {
				background-color: var(--Blue);

				& .button {
					background-color: rgba(0, 0, 0, 0.4);

					&:hover,
					&:focus {
						background-color: var(--Black);
					}
				}
			}

			& h2 {
				color: var(--White);
				margin: 0;
			}

			& .button {
				position: absolute;
				bottom: 3em;
				left: 50%;
				transform: translate(-50%);
				margin: 0;
				width: auto;
			}
		}
	}
}