/*-----------------------------------*\
	HOME CONTENT
\*-----------------------------------*/
section.home-content {
	margin: 8em auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;

	& img {
		width: 100%;
		padding: 0 1.5em;
		margin-bottom: 2em;

		@media(--tablet) {
			width: 50%;
			margin-bottom: 0;
		}
	}

	& .editor {
		width: 90%;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		& h2 {
			color: var(--Red);
			margin-top: 0;

			@media(--tablet) {
				margin-top: 1.618em;
			}
		}
	}
}