/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 400px;
	margin-top: 80px;
	color: var(--White);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/default-header.png');
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -320px;
		left: 0;
		width: 100%;
		height: 320px;
		background-image: url('../images/article_bg.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.2;
	}

	&.has-no-image,
	&.smaller-header {
		min-height: 250px;
	}

	& h1 {
		max-width: 960px;
		width: 90%;
		margin: 0 auto;
		font-size: 40px;

		@media(--phone) {
			font-size: 56px;
		}
	}
}