/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Gray);
	padding: 1em 0;

	&>div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 1440px;
		margin: 0 auto;

		&:first-of-type {
			position: relative;
			max-width: inherit;
			margin-bottom: 1em;
			padding: 0 1em 1em;
			box-shadow: inset 0 -6px 0 0 var(--Red);

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 33%;
				height: 6px;
				box-shadow: inset 0 -6px 0 0 var(--Maroon);
			}

			&:after  {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 33%;
				height: 6px;
				box-shadow: inset 0 -6px 0 0 var(--Blue);
			}
		}
		
		& h3 {
			font-size: 20px;
			font-weight: 700;
			color: var(--Black);
			margin: .5em 0;
			margin-right: 0;
			width: 100%;
			text-align: center;

			@media(--tablet) {
				width: auto;
			}

			@media(--desktop) {
				margin-right: 1em;
			}
		}

		& .review-links {
			& a {
				text-decoration: none;

				& svg {
					width: 24px;
					height: 24px;
					margin: 0 .8em;
				}
			}
		}

		&:nth-of-type(2) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 3em 1em 0;

			&>a {
				text-decoration: none;
				display: none;

				@media(--laptop) {
					display: block;
				}

				& svg {
					width: 116px;
					height: 100px;
				}
			}

			&>div {
				width: 100%;

				@media(--tablet) {
					width: 60%;
				}

				@media(--laptop) {
					width: 50%;
				}

				&:last-of-type {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					width: 100%;

					@media(--tablet) {
						width: 40%;
					}

					@media(--laptop) {
						width: auto;
					}

					&>a {
						margin: 1em auto 0;

						@media(--tablet) {
							margin: 0 1em 0 0;
						}
					}
				}

				& ul {
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					padding-left: 0;

					& li {
						width: 50%;
						padding-left: 0;
						background-image: none;

						@media(--tablet) {
							width: 33.33%;
						}
						
						& a {
							color: var(--Black);
							font-weight: 700;
							text-transform: uppercase;
							text-decoration: none;
							position: relative;

							&:hover,
							&:focus {
								&::after {
									width: 100%;
								}
							}

							&:after {
								content: '';
								height: 3px;
								width: 0;
								background: var(--Black);
								position: absolute;
								bottom: -6px;
								left: 0;
								transition: all .25s ease-in-out;
							}
						}
					}
				}
			}

			& .social-links {
				margin-top: 2em;
				width: 100%;
				text-align: center;

				@media(--laptop) {
					width: auto;
					text-align: left;
					margin-top: 0;
				}

				& a {
					text-decoration: none;

					& svg {
						width: 30px;
						height: 30px;
						margin: 0 1em;

						@media(--tablet) {
							margin: 0 .5em;
						}
					}
				}
			}
		}
	}

	& .copyright {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 2em;
		margin-bottom: 5em;

		@media(--tablet) {
			margin-bottom: 0;
		}

		& p {
			font-size: 14px;
			margin: 0;
			text-align: center;
			width: 100%;

			@media(--tablet) {
				text-align: left;
				width: auto;
			}
		}
	}
}