/*-----------------------------------*\
	TESTIMONIALS
\*-----------------------------------*/
section.testimonials {
	text-align: center;
	margin-bottom: 6em;

	@media(--phone) {
		margin-bottom: 0;
	}

	& h2 {
		color: var(--Red);
	}

	& .testimonial-container {
    margin-bottom: 0;

		@media(--phone) {
			margin-bottom: -2em;
		}
	}

	& .testimonial button {
    background-color: transparent;
		margin-right: 0;
		padding: 0;
		position: relative;
		border-radius: 0;
		margin: 0;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,97,166,0.5);
		}

		& svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translatex(-50%) translateY(-50%);
			width: 35px;
			height: 35px;
			z-index: 3;
		}
	}

	& .slick-track {
		height: 160px;
		margin-bottom: 3em;

		@media(--phone) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			height: 320px;
			margin-bottom: 0;
		}
	}

	& .slick-slide {
		transition: all .25s linear;
		width: 100%;
    height: 160px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media(--tablet) {
			margin: 0 40px;
		}

		@media(--laptop) {
			margin: 0 80px;
		}

		&.slick-active {
			opacity: 0.6;

			& .testimonial button::after {
				background-color: rgba(0,97,166,0.7);
			}
		}

		&.slick-current.slick-active.slick-center {
			transform: scale(2);
			position: relative;
			z-index: 5;
			opacity: 1;

			@media(--tablet) {
				transform: scale(2);
			}

			&>div {
				width: 100%;
			}

			& .testimonial button::after {
				background-color: rgba(0,97,166,.5);
			}
		}
	}
}

.featherlight-iframe .featherlight-content {
	padding: 2em;
	background-color: var(--Black);
	max-width: 100%;
}

.featherlight .featherlight-inner {
	max-width: 100%;
	height: auto;
	min-height: 300px;

	@media(--phone) {
		min-height: 600px;
	}
}

.featherlight .featherlight-close-icon {
	margin: 5px;
}

.slick-prev,
.slick-arrow {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 50%;
	height: 40px;
	margin-right: 0;
	background-color: transparent;
	color: transparent;
	border-radius: 0;
	transform: translateY(100%);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: transparent;
		color: transparent;
	}

	@media(--phone) {
		top: 28%;
		bottom: inherit;
		left: 0;
		width: 50px;
		height: 140px;
		transform: inherit;
	}
}

.slick-next,
.slick-arrow:last-of-type {
	position: absolute;
	bottom: 0;
	right: 0;
	left: inherit;
	z-index: 2;
	width: 50%;
	height: 40px;
	margin-right: 0;
	background-color: transparent;
	color: transparent;
	border-radius: 0;
	transform: translateY(100%);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: transparent;
		color: transparent;
	}

	@media(--phone) {
		top: 28%;
		bottom: inherit;
		right: 0;
		width: 50px;
		height: 140px;
		transform: inherit;
	}
}