/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
  & .card {
    position: relative;
    padding: var(--Medium) var(--Medium) var(--xLarge) var(--Medium);
    margin-bottom: var(--Medium);

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & a.button {
      position: absolute;
      bottom: var(--Medium);
      margin: 0;
    }
  }

  &.top-cards .card {
    & .bg {
      position: relative;
      top: -1em;
      left: -1em;
      width: calc(100% + 2em);
      min-height: 300px;
      background-position: center;
      background-size: cover;
    }

    & h2 {
      margin-top: 0;
			color: var(--Red);
    }
  }

  &.thumb-cards .card {
    padding: 110px var(--Medium) var(--xLarge);
    margin-bottom: var(--xLarge);
    text-align: left;

		&:nth-of-type(3n+1) {
			& .bg {
				background-color: var(--Maroon);
			}
		}

		&:nth-of-type(3n+2) {
			& .bg {
				background-color: var(--Red);
			}
		}

		&:nth-of-type(3n+3) {
			& .bg {
				background-color: var(--Blue);
			}
		}

    & .bg {
      position: absolute;
      top: 3em;
      left: 50%;
      width: 110px;
      height: 110px;
      background-position: center;
			background-repeat: no-repeat;
      background-size: 55%;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    & h2 {
      margin-top: 0;
			color: var(--Red);
    }

    & a.button {
      position: absolute;
      bottom: var(--Medium);
      left: 50%;
      width: calc(100% - 2em);
      margin: 0;
      transform: translateX(-50%);
    }
  }

  &.cover-cards .card {
    min-height: 400px;
    padding: var(--xLarge) var(--Medium);

    & .bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-size: cover;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
      }
    }

    & h2 {
      position: absolute;
      bottom: var(--Medium);
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  & .card {
    width: 100%;
    margin-right: 0;
  }

  @media(--phone) {
    &.two-columns .card,
    &.four-columns .card,
    &.six-columns .card,
    &.eight-columns .card {
      width: calc((100% - 1em)/2);
    }

    &.three-columns .card,
    &.five-columns .card,
    &.six-columns .card,
    &.seven-columns .card {
      width: 33%;
      width: calc((100% - 2em)/3);
    }

    &.three-columns .card:nth-of-type(3n),
    &.four-columns .card:nth-of-type(2n),
    &.five-columns .card:nth-of-type(3n),
    &.six-columns .card:nth-of-type(3n),
    &.seven-columns .card:nth-of-type(3n),
    &.eight-columns .card:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media(--tablet) {
    &.four-columns .card {
      width: 25%;
      width: calc((100% - 3em)/4);
    }

    &.five-columns .card {
      width: 20%;
      width: calc((100% - 4em)/5);
    }

    &.six-columns .card {
      width: 16.6%;
      width: calc((100% - 5em)/6);
    }

    &.seven-columns .card {
      width: 14.28%;
      width: calc((100% - 6em)/7);
    }

    &.eight-columns .card {
      width: 12.5%;
      width: calc((100% - 7em)/8);
    }

    &.four-columns .card:nth-of-type(4n),
    &.five-columns .card:nth-of-type(5n),
    &.six-columns .card:nth-of-type(6n),
    &.seven-columns .card:nth-of-type(7n),
    &.eight-columns .card:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}
