/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--xLarge) auto;
	padding: var(--xLarge) 0;
	min-height: 40vh;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--White);
		opacity: .5;
	}

	&.has-no-image {

		&::after {
			display: none;
		}
	}

	&>div {
		width: 80%;
		max-width: 960px;
		position: relative;
		z-index: 2;
		color: var(--Black);

		& h2,
		& h3,
		& h4,
		& p {
			color: inherit;
		}

		& p {
			font-size: 1.5em;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}