/*-----------------------------------*\
	1 COLUMN
\*-----------------------------------*/
.editor {
	& ul {
		column-count: 1;
		margin-bottom: 2em;

		@media(--phone) {
			column-count: 2;
		}

		&.gform_fields {
			column-count: 1;
		}
	}
}
/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
	&>div {
		width: 100%;
	}

	@media(--tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>div {
			width: 45%;
		}
	}
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
	&>div {
		width: 100%;
	}

	@media(--tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>div {
			width: 31%;
		}
	}
}