/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
  filter: blur(8px);
  transition: all 0.35s linear;
}

.blur-up.lazyloaded {
  filter: blur(0);

  -webkit-filter: blur(0);
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  & figure {
    min-height: 10px;
    margin: 0 0 1em 0;

    & img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &.one-columns figure, &.three-columns figure, &.five-columns figure, &.seven-columns figure {
    width: 100%;
  }

  &.two-columns figure, &.four-columns figure, &.six-columns figure, &.eight-columns figure {
    width: calc((100% - 1em)/2);
  }

  &.one-columns figure:nth-of-type(n), &.two-columns figure:nth-of-type(2n), &.three-columns figure:nth-of-type(n), &.four-columns figure:nth-of-type(n), &.five-columns figure:nth-of-type(2n), &.six-columns figure:nth-of-type(2n), &.seven-columns figure:nth-of-type(n), &.eight-columns figure:nth-of-type(2n) {
    margin-right: 0;
  }

  @media(--phone) {
    &.three-columns figure, &.five-columns figure, &.six-columns figure, &.seven-columns figure {
      width: 33%;
      width: calc((100% - 2em)/3);
    }

    &.four-columns figure, &.eight-columns figure {
      width: 25%;
      width: calc((100% - 3em)/4);
    }

    &.three-columns figure:nth-of-type(3n), &.four-columns figure:nth-of-type(4n), &.five-columns figure:nth-of-type(3n), &.six-columns figure:nth-of-type(3n), &.seven-columns figure:nth-of-type(3n), &.eight-columns figure:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  @media(--tablet) {
    &.five-columns figure {
      width: 20%;
      width: calc((100% - 4em)/5);
    }

    &.six-columns figure {
      width: 16.6%;
      width: calc((100% - 5em)/6);
    }

    &.seven-columns figure {
      width: 14.28%;
      width: calc((100% - 6em)/7);
    }

    &.eight-columns figure {
      width: 12.5%;
      width: calc((100% - 7em)/8);
    }

    &.five-columns figure:nth-of-type(5n), &.six-columns figure:nth-of-type(6n), &.seven-columns figure:nth-of-type(7n), &.eight-columns figure:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}
