/*-----------------------------------*\
	INQUIRE
\*-----------------------------------*/
section.inquire {
	margin: var(--xLarge) auto;
	
	&>div {
		&:first-of-type {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			background-image: url(../images/default-header-2.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 3em 1em;
			max-width: 960px;
			width: 90%;
			margin: 0 auto;

			& h3 {
				color: var(--White);
				margin: 0;
				width: 100%;
				text-align: center;

				@media(--tablet) {
					margin: 0 0 0 3em;
					width: auto;
				}
			}

			& a.button {
				margin: 1em 0 0;

				@media(--tablet) {
					margin: 0 0 0 3em;
				}
			}
		}

		&:last-of-type {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: flex-start;
			align-items: flex-start;
			border-radius: 20px;
			box-shadow: 0 2px 34px 0 rgba(0,0,0,0.19);
			padding: 1em;

			@media(--tablet) {
				padding: 1.5em;
			}

			&.has-ten {
				align-items: normal;
			}

			& div,
			& img {
				&.four {
					width: 100%;
					height: auto;
					padding: .5em;
					object-fit: contain;

					@media(--tablet) {
						width: 50%;
						padding: 1em;
					}
				}

				&.ten {
					width: 50%;
					padding: 1em;
					max-height: 194px;
					height: auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					object-fit: contain;

					@media(--tablet) {
						width: 33%;
					}

					@media(--laptop) {
						width: 20%;
					}

					& img {
						width: auto;
						height: 100%;
					}
				}
			}
		}
	}
}