/*-----------------------------------*\
	LOCATIONS
\*-----------------------------------*/
section.locations {
	margin: 8em auto;
	display: flex;
	flex-wrap: wrap;

	& h2 {
		text-align: center;
		color: var(--Red);
		width: 100%;
	}

	& article {
    width: 100%;
    padding: 2em;

		@media(--tablet) {
			width: 33%;
		}

		& h3 {
			margin: 0;
			color: var(--Blue);
		}
	}
}