/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: var(--xLarge) auto;

	&.image-cover {
		align-items: initial;

		&>div:first-child {
			min-height: 200px;
		}
	}

	&>div {
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		& img {
			width: 100%;
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}

	@media(--tablet) {
		flex-wrap: nowrap;

		&>div {
			width: 45%;
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}