/*-----------------------------------*\
	TEAM REPEATER
\*-----------------------------------*/
section.team-repeater {
	margin: var(--xLarge) auto;
	
	& h3 {
		text-align: center;
	}

	&>div {
		&.choose-location {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			& .show-columbus,
			& .show-indianapolis {
				margin-bottom: 1em;

				@media(--phone) {
					margin-bottom: 0;
				}

				&.is-active {
					background-color: var(--RedDark);
				}
			}
		}

		&:last-of-type {
			margin: var(--xLarge) 0;

			&>div {
				visibility: hidden;
				height: 0;
				display: none;
				flex-wrap: wrap;
				justify-content: center;

				&.is-active {
					visibility: visible;
					height: 100%;
					display: flex;
				}

				& article {
					width: 50%;
					text-align: center;
					margin-bottom: 3em;
					position: relative;

					@media(--tablet) {
						width: 33%;
					}

					@media(--laptop) {
						width: 20%;
					}

					@media(--desktop) {
						width: 16%;
					}

					&:hover,
					&:focus {
						& .featured-image {
							& .overlay,
							& .email-icon {
								opacity: 1;
							}
						}
					}

					& .featured-image {
						position: relative;
						max-width: 160px;
						width: 100%;
						height: auto;
						display: flex;
						margin: 0 auto;

						& .overlay {
							background: rgba(0, 0, 0, 0.35);
							z-index: 2;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							left: 0;
							border: 3px solid var(--Red);
							opacity: 1;
							border-radius: 50%;
							transition: all .35s linear;

							@media(--laptop) {
								opacity: 0;
							}
						}

						& .email-icon {
							background-image: url(../images/email-icon.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 24px;
							background-color: var(--Red);
							border-radius: 50%;
							width: 40px;
							height: 40px;
							z-index: 3;
							position: absolute;
							bottom: 10px;
							left: calc(50% - 20px);
							opacity: 1;
							transition: all .35s linear;

							@media(--laptop) {
								opacity: 0;
							}
						}
					}

					&>a {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: 10;
					}
					
					& img {
						max-width: 160px;
						width: 100%;
						height: auto;
						border-radius: 50%;
						object-fit: contain;
					}

					& h4 {
						margin: .5em 0 0;
					}

					& p {
						margin: .5em 0 0;
					}
				}
			}
		}
	}
}