/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phone (min-width: 500px);
@custom-media --tablet (min-width: 800px);
@custom-media --laptop (min-width: 1050px);
@custom-media --desktop (min-width: 1300px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
	box-sizing: border-box;
	background: var(--White);
	color: var(--Black);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 1.618;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: var(--xLarge) auto;
		min-height: 200px;
	}
}

article>*:first-child {
	margin-top: 0;
}

article>*:last-child {
	margin-bottom: 0;
}


/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
	width: 90%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.is-narrow {
	width: 90%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.is-wide {
	width: 90%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

section>*:first-child {
	margin-top: 0;
}

section>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0px;
	left: 0;
	transform: translateY(-100%);
	z-index: 999999;
	transition: all .35s linear;

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	position: relative;

	& a {
		position: absolute;
		right: calc(50% - 85px);
		transform: translateY(-125%);

		@media(--tablet) {
			right: 0;
		}
	}
}

/*-----------------------------------*\
	IFRAME
\*-----------------------------------*/
p iframe {
	width: 100%;
	height: auto;
}

/*-----------------------------------*\
	SEARCH RESULTS
\*-----------------------------------*/
body.search-results {
	& main > article {
		min-height: inherit;

		&.search-result header a {
			color: var(--Maroon);

			&:focus,
			&:hover {
				color: var(--Red);
			}
		}
	}
}