/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #ffffff;
	--Gray: #F6F6F6;
	--Black: #000000;
	--Red: #FF173A;
	--RedDark: #B11220;
	--Blue: #0061A6;
	--BlueDark: #053D65;
	--Maroon: #771646;
	--MaroonDark: #4A0628;
}