/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& a {
		margin: 0 var(--Small);
	}
}
/*-----------------------------------*\
	LEAGUES ARCHIVE
\*-----------------------------------*/
body.post-type-archive-league {
	& header.post-head {
		min-height: 400px;
	}

	& main {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 320px;
			background-image: url('../images/article_bg.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.2;
			z-index: -1;
		}

		& article {
			margin: 0 auto var(--xLarge);

			&>div {
				padding: var(--xLarge) 0;

				&>a.button {
					margin-top: 1em;
				}

				& form {
					max-width: inherit;
					display: flex;
					flex-wrap: wrap;

					& input[type="radio"] {
						display: none; 
					}

					& label {
						background-color: var(--Gray);
						color: var(--Blue);
						width: calc(50% - 10px);
						height: 232px;
						margin: 5px;
						text-align: center;
						border-radius: 15px;
						border: 1px solid #DFDFDF;
						padding: 1rem;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-content: center;
						align-items: center;
						transition: all 0.35s linear;
						cursor: pointer;

						@media(--laptop) {
							width: calc(25% - 10px);
						}

						&:hover,
						&:focus {
							background-color: var(--Blue);
							color: var(--White);

							& svg {
								stroke: var(--White);
							}
						}

						&:nth-of-type(1) {
							& svg {
								&:nth-of-type(2) {
									display: none;
								}
								&:nth-of-type(3) {
									display: none;
								}
								&:nth-of-type(4) {
									display: none;
								}
							}
						}

						&:nth-of-type(2) {
							& svg {
								&:nth-of-type(1) {
									display: none;
								}
								&:nth-of-type(3) {
									display: none;
								}
								&:nth-of-type(4) {
									display: none;
								}
							}
						}

						&:nth-of-type(3) {
							& svg {
								&:nth-of-type(1) {
									display: none;
								}
								&:nth-of-type(2) {
									display: none;
								}
								&:nth-of-type(4) {
									display: none;
								}
							}
						}

						&:nth-of-type(4) {
							& svg {
								&:nth-of-type(1) {
									display: none;
								}
								&:nth-of-type(2) {
									display: none;
								}
								&:nth-of-type(3) {
									display: none;
								}
							}
						}

						& svg {
							width: 60px;
							height: 60px;
							stroke: var(--Red);
							margin-bottom: 1em;
							transition: all 0.35s linear;
						}

						& p {
							width: 100%;
							font-size: 22px;
							line-height: 1.2;
							margin: 0;

							@media(--tablet) {
								font-size: 32px;
							}
						}

						&.select-label {
							background-color: transparent;
							color: var(--Black);
							width: 100%;
							height: auto;
							margin: 0;
							text-align: left;
							border-radius: 0;
							border: none;
							font-size: 12px;
							padding: 0;
							display: block;
							margin-top: 4em;
						}
					}

					& input[type="radio"]:checked + label { 
						background-color: var(--Blue);
						color: var(--White);

						& svg {
							stroke: var(--White);
						}
					}

					&>div {
						width: 100%;

						&#bars {
							padding-top: 80px;
							margin-top: -80px;

							& a.button {
								margin-top: 4em;
							}
						}

						& select {
							max-width: 450px;
							margin-right: auto;
							font-weight: 700;
							color: var(--Black);
						}
					}

					& input[type="submit"] {
						margin-top: 2em;
						max-width: 200px;
						margin-right: 0;
					}
				}

				&.entry-content {
					padding: 0;
				}
			}

			& section.standard {
				&>div {
					display: flex;
					flex-wrap: wrap;

					& article.league {
						width: 100%;
						margin: 0;

						@media(--tablet) {
							width: 50%;
						}
					}
				}
			}

			& h2 {
				color: var(--Red);

				&.blue {
					color: var(--Blue);
					width: 100%;
				}
			}

			& h3 {
				color: var(--Black);
				font-weight: 700;
			}

			& h5 {
				color: var(--Blue);
			}
		}
	}
}