/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& main>article {
		margin: 8em auto var(--xLarge);
		min-height: auto;
	}
}