/*----------------------------------------------------------------*\
	SIGNUP TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-signup {
	& main>article {
		& h2 {
			color: var(--Blue);
		}

		& article {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			& svg {
				stroke: var(--Red);
				width: 35px;
				height: 35px;
				margin-top: 1em;
				margin-right: 1em;
			}

			&>div {
				margin-right: auto;

				& h5 {
					margin: 0;
					text-transform: capitalize;
					color: var(--Blue);
					font-size: 16px;
				}

				& h3 {
					margin: 0;
					color: var(--Black);
					font-weight: 700;
					text-transform: capitalize;
				}

				& p {
					font-size: 16px;
					margin: 0;
					text-transform: capitalize;
				}
			}

			& a.button {
				margin-top: 1em;
			}
		}
	}
}