/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--White);
	z-index: 9999;
	box-shadow: inset 0 -6px 0 0 var(--Red);

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 33%;
		height: 6px;
		box-shadow: inset 0 -6px 0 0 var(--Maroon);
	}

	&:after  {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 33%;
		height: 6px;
		box-shadow: inset 0 -6px 0 0 var(--Blue);
	}

	&.notification-on {
		top: 61px;

		@media(--phone) {
			top: 37px;
		}
	}

	& nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1440px;
		height: 80px;
		position: relative;

		&>div {
			width: calc(50% - 55px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			z-index: 2;

			&:first-of-type {
				justify-content: flex-start;
			}

			& a.button {
				margin-left: 1em;
				font-size: 12px;
				padding: var(--Small) 1.5em;

				@media(--desktop) {
					margin-left: 2em;
					font-size: 14px;
					padding: var(--Medium) var(--Large);
				}

				& span {
					display: none;

					@media(--desktop) {
						display: inline-block;
						padding-left: .5em;
					}

					&:first-of-type {
						display: inline-block;

						@media(--desktop) {
							display: none;
						}
					}
				}
			}

			& ul {
				display: none;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 0;
				list-style: none;

				@media(--desktop) {
					display: flex;
				}

				& li {
					padding: var(--Small) var(--Medium);
					background-image: none;

					&.active,
					&.current-menu-item {
						& a:after {
							content: '';
							height: 3px;
							width: 100%;
							background: var(--Black);
							position: absolute;
							bottom: -6px;
							left: 0;
							transition: all .25s ease-in-out;
						}
					}

					& a {
						color: var(--Black);
						font-family: 'Quicksand';
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
						position: relative;

						&:hover,
						&:focus {
							&::after {
								width: 100%;
							}
						}

						&:after {
							content: '';
							height: 3px;
							width: 0;
							background: var(--Black);
							position: absolute;
							bottom: -6px;
							left: 0;
							transition: all .25s ease-in-out;
						}
					}
				}
			}

			& .social-links {
				display: none;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				@media(--desktop) {
					display: flex;
				}

				& a {
					display: flex;
					text-decoration: none;

					& svg {
						width: 20px;
						height: 20px;
						margin: 0 .5em;
					}
				}
			}

			& button {
				&.activate-search {
					display: none;
					background-color: transparent;
					margin: 0 2em 0 1em;
					padding: 0;

					@media(--desktop) {
						display: block;
					}

					& svg {
						width: 14px;
						height: 14px;
						fill: var(--Red);
					}
				}

				&.activate-menu {
					padding: 0;
					background-color: transparent;
					color: var(--Black);
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					font-weight: 400;
					margin: 0 1em;

					@media(--desktop) {
						display: none;
						margin: 0 2em 0 1em;
					}

					& svg {
						width: 20px;
						height: 20px;
						margin-left: 1em;
					}
				}
			}

			&.search-form {
				display: block;
				position: absolute;
				top: 1.5em;
				right: 0;
				width: 45%;
				visibility: hidden;
				opacity: 0;
				transition: all 0.25s linear;

				&.is-active {
					visibility: visible;
					opacity: 1;
				}

				& form {
					position: relative;
					margin: 0 2em 0 0;
					max-width: inherit;
					background-color: var(--White);

					& label {
						display: none;
					}

					& input {
						margin-left: 4em;
						width: calc(100% - 5.5em);
						border: none;
						border-bottom: 1px solid var(--Blue);
						border-radius: 0;
						padding: .5em 1em;
					}

					& button {
						position: absolute;
						top: 0;
						right: 0;
						margin-right: 0;
						background-color: transparent;
						color: var(--Blue);
						padding: 1em 0 1em 1em;

						& svg {
							width: 14px;
							height: 14px;
							fill: var(--Blue);
						}
					}
				}
			}

			&.mobile-menu {
				position: absolute;
				top: 0;
				right: -290px;
				background-color: var(--White);
				width: 290px;
				height: 100vh;
				padding: 2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-content: flex-start;
				transition: all 0.25s linear;

				@media(--desktop) {
					display: none;
				}

				&.is-active {
					display: flex;
					right: 0;
					box-shadow: 0 0 20px -5px;

					@media(--desktop) {
						display: none;
					}
				}

				& button.close-menu {
					background-color: transparent;
					color: var(--Red);
					padding: var(--Medium);
				}

				& > div {
					width: 100%;

					& ul {
						display: block;
						flex-wrap: wrap;

						& li {
							width: 100%;
						}
					}
				}

				& .social-links {
					margin-top: 1em;
					display: inherit;
					justify-content: flex-start;

					& a svg {
						width: 30px;
						height: 30px;
						margin: 0 1em;
					}
				}

				& button.activate-search {
					display: block;
					margin: 2em 1em;

					& svg {
						width: 20px;
						height: 20px;
					}
				}
			}
		}

		&>a {
			width: 110px;
			height: 80px;
			text-align: center;
			position: relative;

			&:after {
				content: "";
				background-color: var(--White);
				border-radius: 22px;
				width: 100px;
				height: 100px;
				position: absolute;
				top: 10px;
				left: calc(50% - 50px);
				transform: rotate(45deg);
				z-index: 1;

				@media(--desktop) {
					border-radius: 30px;
					width: 200px;
					height: 200px;
					top: -75px;
					left: calc(50% - 100px);
				}
			}

			& svg {
				width: 75px;
				height: 80px;
				position: relative;
				top: 15px;
				z-index: 2;

				@media(--desktop) {
					width: 110px;
					height: 100px;
					top: 7px;
				}
			}
		}
	}
}